body {
    background-color: lightslategray;
    border-color: rgb(153, 64, 64);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Cole_Thomas_The_Course_of_Empire_Destruction_1836.jpg/1024px-Cole_Thomas_The_Course_of_Empire_Destruction_1836.jpg);
    
}

h1{background-color: steelblue;
    
}

h2{ background-color: steelblue;}

h3{background-color: steelblue;}
